.hotel-card {
    line-height: 22px;
    width: 100%;
}

.hotel-card__title {
    font-size: 17px;
}

.hotel-card__date-row {
    display: flex;
    align-items: center;
    color: #878787;
    font-family: Roboto400, sans-serif;
    font-size: 14px;
    margin-top: 4px;
}

.hotel-card__date-dash {
    width: 9px;
    height: 1px;
    background: #C4C4C4;
    border-radius: 2px;
    margin: 0 14px;
}

.hotel-card__rating-price-row {
    display: flex;
    margin: 2px 0 15px;
    height: 25px;
    justify-content: space-between;
}

.hotel-card__price-block {
    display: flex;
    align-self: flex-start;
    align-items: flex-end;
}

.hotel-card__price-title {
    font-size: 11px;
    color: #878787;
    margin-right: 16px;
    line-height: 18px;
}
.hotel-card__price {
    font-family: Roboto400, sans-serif;
    font-size: 17px;
}

.hotel-card__rating {
    display: flex;
    align-self: flex-end;
}

.favorite {
    flex:none;
}

.favorite #Vector:hover {
    fill: #EBEBEB;
    stroke: #C4C4C4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.favorite #Vector:active {
    fill: #E55858;
    stroke: none;
}

.favorite_active #Vector:active {
    fill: #FFFFFF;
    stroke: #C4C4C4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.favorite_active #Vector {
    fill: #E55858;
    stroke: none;
}

.star {
    margin-left: 3px;
}

