.avatar-wrapper {
    width: 64px;
    height: 64px;
    background: rgba(65, 82, 46, 0.05);
    border-radius: 50%;
    flex: none;
    margin-right: 24px;
}

.avatar-icon {
    display: block;
    position: relative;
    left: 14px;
    top: 13px
}