@font-face {
    font-family: 'Roboto300';
    src: local('Roboto300'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto400';
    src: local('Roboto400'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto500';
    src: local('Roboto500'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto300, sans-serif;
    font-size: 16px;
    color: #424242;
}

h1 {
    margin: 0;
    font-family: Roboto500, sans-serif;
    font-size: 32px;
}

h2 {
    margin: 0;
    font-family: Roboto500, sans-serif;
    font-size: 24px;
}

.btn {
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 32px;
    height: 50px;
    width: 100%;
}

.btn:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.btn:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

input {
    font-family: Roboto, sans-serif;
    border: 1px solid #C9CACC;
    border-radius: 4px;
    height: 50px;
}

.block__window {
    background: white;
    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}